{% extends "base.html" %}

{% block main_content %}

<h3>{{title}}</h3>

<body>

<form method="POST" action="{{url_for('account_detail', uid=user['uid'])}}">
  <table>
    <tr>
      <td><label for="user-id">ID</label></td>
      <td><input class="fill" id="user-id" name="uid" value="{{ user['uid'] }}" readonly></td>
      </tr>
    <tr>
        <td><label for="name">Name</label></td>
        <td><input class="fill" id="name" name='name' value="{{user['name']}}"></td> 
      </tr>
    <tr>
        <td><label for="phnum">phone number</label></td>
        <td><input class="fill" id="phnum" name="phnum" value="{{user['phnum']}}"></td>
      </tr>
    <tr>
        <td><label for="email">email</label></td>
        <td><input class="fill" id="email" name="email" value="{{user['email']}}"></td>  
      </tr>
    
  
   
  </table>
  <input class = "click" type="submit" value="Update">
</form>

</body>



<table id="registered_conf">
  <tr>
      <th>Title</th>
      <th>Desciption</th>
      <th>Industry</th>
      <th>Location</th>
      <th>start_date</th>
      <th>end_date</th>
  </tr>


  {% for conf in conferences %}
  <tr >
      <td class="title"> {{conf.title}}</td>
      <td class="description">{{conf.descript}}</td>
      <td class="industry">{{conf.industry}}</td>
      <td class="loaction">{{conf.location}}</td>
      <td class="start_date">{{conf.start_date}}</td>
      <td class="end_date">{{conf.end_date}}</td>
      <!-- you can replace the function name with your function -->

  </tr>
  {% endfor %}
</table>
{% endblock %}