{% extends "base.html" %}

{% block main_content %}

<h1>{{title}}</h1>

<body>
</div>
<table>
    <tr>
        <td><label for="user-id">ID</label></td>
        <td>{{uid}}</td>  
      </tr>
    <tr>
        <td><label for="name">Name</label></td>
        <td><input id="name" name='name' value='{{name}}'></td> 
      </tr>
    <tr>
        <td><label for="phnum">phone number</label></td>
        <td><input id="phnum" name="phnum" value="{{phnum}}"></td>
      </tr>
    <tr>
        <td><label for="email">email</label></td>
        <td><input id="email" name="email" value="{{email}}"></td>  
      </tr>
    
    <tr>
        <td><label for="cname">company</label></td>
        <td><input id="cname" name='cname' value='{{cname}}'></td>
      </tr>
   
</table>



</body>
{% endblock %}