{% extends "base.html" %}



{% block main_content %}

<h1>Browsing Page</h1>

<h2>Keyword Search Form</h2>

<form method="GET" action="/browse/">
    <label for="keyword">Search Conferenes:</label>
    <input type="text" id="keyword" name="query" value="{{ query|default('') }}">
    
 <!--    <label for="Industry">Filter by Industry:</label>
    <select id="industry" name="industry">
        <option value="">All Industries</option>
        {% for ind in industries %}
        <option value="{{ ind }}" {% if ind == selected_industry %}selected{% endif %}>
            {{ ind }}
        </option>
        {% endfor %}
    </select>
 -->
    <input type="submit" value="Search">
  </form>

{% if length == 0 %}
  <p> Sorry, no conferences found!</p>
{% else %}
<h3>Available Conferences:</h3>
<ul>
    {% for event in e%}
  <li><a href= "{{url_for('conf_detail',eid=event['eid'])}}" >{{ event['title'] }}</a></li>
{% endfor %}
</ul>
{% endif%}
{% endblock %}
