{% extends "base.html" %}

{% block main_content %}

<h1> Create a New Account {{name}}</h1>

<p>Please fill out the following information to create a ConStruct account:</p>

<!--uid int, 
name varchar(40), 
phnum int,
email varchar(40),
password varchar(30),
cid int -->

<form method=post action="{{url_for('create_account')}}">
  <fieldset style="border:none;">
  <legend>Account Information: (categories with "*" is required)</legend>
  <table>
    <!--uid will be added in the database but not part of the input-->
  <tr><td><label for="name"> *firstname and lastname:</label></td>
      <td><input class="fill" id="name" type="text" name="name"></td></tr>
  <tr><td><label for="phnum"> *phone number:</label></td>
      <td><input class="fill" id="phnum" type="text" name="phnum"></td></tr>
  <tr><td><label for="email" > *email:</label></td>
      <td><input class="fill" id="email" type="email" name="email"></td></tr>
  <tr><td><label for="password1" > *password:</label></td>
      <td><input class="fill" id="password1" type="password" name="password1" style="width:145px;"></td></tr>
  <tr><td><label for="password2" > *confirm password:</label></td>
      <td style="display: flex; align-items: center; gap: 12px;">
        <input class="fill" id="password2" type="password" name="password2">
        <input class="click" type='submit' value='submit'> 
      </td></tr>
  </table>
  </fieldset>
</form>

{% endblock %}
