{% extends "base.html" %}

{% block main_content %}

<h3>{{page_title}}</h3>
<form method=post action="/login/">
    <fieldset style="border: none;">
    <legend>Categories with "*" is required</legend>
    <table> 

    <tr><td><label for="email" > *Email:</label></td>
        <td><input class="fill" id="email" type="email" name="email"></td></tr>
    <tr><td><label for="password" > *Password:</label></td>
        <td style="display: flex; align-items: center; gap: 15px;">
        <input class="fill" id="password" type="password" name="password">
        <input class = "click" type='submit' value='submit'>
        </td>
    </tr>
    
    </table>
    </fieldset>
  </form>
  

{% endblock %}

<td style="display: flex; align-items: center; gap: 10px;"></td>